<html>
    <head>
        <title>Namaste bhaiya</title>
    </head>

    <body>
        <form action="http://localhost:5000/result" method="POST">
            <p>Name</p>
            <p><input type="text" name = "Name" /></p>
            <p>Physics</p>
            <p><input type="text" name = "Physics" /></p>
            <p>Chemistry</p>
            <p><input type="text" name="chemistry"/></p>
            <p>Maths</p>
            <P><input type="text" name="Mathematics" /></P>
            <P><input type="submit" value="submit" /></P>
        </form>
    </body>
</html>